.hero-banner {
    background-color: black;
    color: white;
    position: relative;
}

.hero-img {
    height: 90vh;
    width: 100vw;
}

.hero-img>img {
    height: 100%;
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 55%;
    left: 4%;
}

.hero-buttons {
    display: flex;
    gap: 8px;
}