.bold {
    font-weight: 800;
    font-size: xxx-large;
    margin: 0px;
    padding: 3% 6%;
}

.white {
    color: #ffffff;
}

.black {
    color: #000;
}

.medium-with-bold {
    font-size: larger;
    font-weight: 400;
}

.center {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: flex-end;
    width: 100%;
    text-align: left;
}

.faq-heading {
    color: #fff;
    justify-content: center;
    display: flex;
    font-size: 43px;
    font-weight: 800;
    padding: 30px 0px;
}

.hero-text {
    padding-right: 30%;
    padding-top: 20px;
}

@media screen and (max-width: 767px) {
    .bold {
        padding: 0px 40px;
        font-size: xx-large;
    }

    .medium-with-bold {
        padding: 2px 30px;
        font-size: small;
        font-weight: 400;
    }
}

@media screen and (max-width: 426px) {
    .bold {
        font-size: x-large;
    }

    .medium-with-bold {
        padding-top: 10px;
        padding-right: 20px;
        font-size: small;
        font-weight: 400;
    }
}

@media screen and (max-width: 321px) {
    .bold {
        margin-top: 15%;
        font-size: larger;
    }

    .medium-with-bold {
        padding-top: 0px;
        padding-right: 20px;
        font-size: small;
        font-weight: 400;
    }
}